
<ion-content no-padding class="content">
    <ion-card class="welcome-card">
      <img src= "/assets/logo.jpeg"/>
      <ion-card-header>
        <ion-card-subtitle>Welcome</ion-card-subtitle>
        <ion-card-title>Teens Connect</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>A community for teenagers to learn and grow together</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label class='join'>Join Us!</ion-label>
      </ion-list-header>
      <ion-item >
        <ion-label>First Name: </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Last Name: </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label>Password: </ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email Adress: </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date of Birth: </ion-label>
        <ion-datetime displayFormat="DD-MMMM-YYYY" placeholder="Select Date"></ion-datetime>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-button expand="block" href="http://localhost:8100/tabs/tab3">Sign Up!</ion-button>
      <ion-button expand="block" href="http://localhost:8100/tabs/tab2">Already have an account? Log in!</ion-button>
    </ion-list>
</ion-content>
